* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  background-color: #3cdbc0;
  font-family: "Rubik", sans-serif;
}
.container1 {
  width: 100%;
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-Adalab {
  width: 155px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.menu {
  margin-top: 10px;
  margin-bottom: 13px;
  font-size: 16px;
  color: #4a4a4a;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
}
.blog {
  padding-right: 10px;
}
.contact {
  padding-left: 10px;
}
.container2 {
  background-color: #3cdbc0;
  font-size: 30px;
  color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.meaning {
  text-transform: capitalize;
}
.title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media all and (min-width: 768px) {
  .menu {
    margin: 30px;
  }
  .logo-adalab {
    margin: 0;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .blog {
  }
  .sizeblog {
    padding-right: 10px;
    padding: 6px;
    text-decoration: none;
  }
  .sizecontact {
    padding-left: 10px;
    padding: 6px;
    text-decoration: none;
  }
  .contact {
  }
  .container1 {
    flex-direction: row;
    justify-content: space-between;
  }
  .container2 {
    font-size: 40px;
  }
}
